<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ducimus optio sapiente, soluta provident officiis! Adipisci amet magnam dignissimos aperiam atque, accusamus soluta perferendis. Impedit dolorem velit voluptatem aliquam cupiditate?</p>
    </div>
</div>