<div class="jumbotron">
    <h1 class="display-4">Notes app nodejs y mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sit, cupiditate illum tempora accusantium tempore ullam atque unde asperiores accusamus dolorum animi maiores reiciendis odio earum, eligendi praesentium amet error.</p>
    <hr class="my-4">   
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In ab fuga neque, fugiat quae, nisi aut minus cupiditate officia a explicabo ducimus facilis voluptas animi aliquam tempore ea? Minima, quod!</p>
    <a href="#" class="btn btn-primary btn-lg">Mi portafolio</a>
</div>